@model ShopCartUser.Models.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">collection</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start -->
<section class="section-b-space ratio_asos">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 collection-filter">
                    <!-- side-bar colleps block stat -->
                    <form asp-action="chanesfillter">
                        <input hidden asp-for="catId" />
                        <div class="collection-filter-block">
                            <!-- brand filter start -->
                            <div class="collection-mobile-back">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left"
                                       aria-hidden="true"></i> back
                                </span>
                            </div>
                            <div class="my-4 pt-3 text-right">
                                @if (Model.colorIdFillter != 0 || Model.minPriceFillter != 0 || Model.maxPriceFillter != 0)
                                {
                                    <a href="/Category?id=@Model.catId" class="btn btn-solid" id="" style="padding: 13px 23px;">Clear Fillter</a>
                                }
                                <button type="submit" class="btn btn-solid" id="" style="padding: 13px 23px;">Apply</button>
                            </div>

                            <!-- color filter start here -->
                            <div class="collection-collapse-block open">
                                <h3 class="collapse-block-title">colors</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="color-selector">
                                        <input hidden asp-for="colorIdFillter" />
                                        <ul>
                                            @if (Model.CatcolorList.Any()) { 
                                                @foreach (ColoursTbl c in Model.CatcolorList)
                                                {
                                                    if (c.Id == Model.colorIdFillter)
                                                    {
                                                        <li class="active" onclick="chageColor(@c.Id,this)" style="background-color:@c.Name"></li>

                                                    }
                                                    else
                                                    {
                                                        <li class="" onclick="chageColor(@c.Id,this)" style="background-color:@c.Name"></li>
                                                    }
                                                }
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- price filter start here -->
                            <div class="collection-collapse-block border-0 open">
                                <h3 class="collapse-block-title">price</h3>
                                <input hidden asp-for="minPriceFillter" />
                                <input hidden asp-for="maxPriceFillter" />
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <div class="custom-control custom-radio collection-filter-checkbox">
                                            @if (Model.minPriceFillter == 1 && Model.maxPriceFillter == 100)
                                            {
                                                <input type="radio" name="priceGroup" checked="checked" onchange="chagepriceFillter(this)" data-minVal="1" data-maxVal="100" class="custom-control-input checked" id="hundred">
                                            }
                                            else
                                            {
                                                <input type="radio" name="priceGroup" onchange="chagepriceFillter(this)" data-minVal="1" data-maxVal="100" class="custom-control-input" id="hundred">
                                            }
                                            <label class="custom-control-label" for="hundred">$1 - $100</label>
                                        </div>
                                        <div class="custom-control custom-radio collection-filter-checkbox">
                                            @if (Model.minPriceFillter == 100 && Model.maxPriceFillter == 200)
                                            {

                                                <input type="radio" name="priceGroup" checked="checked" onchange="chagepriceFillter(this)" data-minVal="100" data-maxVal="200" class="custom-control-input" id="twohundred">
                                            }
                                            else
                                            {

                                                <input type="radio" name="priceGroup" onchange="chagepriceFillter(this)" data-minVal="100" data-maxVal="200" class="custom-control-input" id="twohundred">
                                            }
                                            <label class="custom-control-label" for="twohundred">$100 - $200</label>
                                        </div>
                                        <div class="custom-control custom-radio collection-filter-checkbox">
                                            @if (Model.minPriceFillter == 200 && Model.maxPriceFillter == 300)
                                            {
                                                <input type="radio" name="priceGroup" checked="checked" onchange="chagepriceFillter(this)" data-minVal="200" data-maxVal="300" class="custom-control-input" id="threehundred">
                                            }
                                            else
                                            {
                                                <input type="radio" name="priceGroup" onchange="chagepriceFillter(this)" data-minVal="200" data-maxVal="300" class="custom-control-input" id="threehundred">
                                            }

                                            <label class="custom-control-label" for="threehundred">$200 - $300</label>
                                        </div>
                                        <div class="custom-control custom-radio collection-filter-checkbox">
                                            @if (Model.minPriceFillter == 300 && Model.maxPriceFillter == 400)
                                            {
                                                <input type="radio" name="priceGroup" checked="checked" onchange="chagepriceFillter(this)" data-minVal="300" data-maxVal="400" class="custom-control-input" id="fourhundred">
                                            }
                                            else
                                            {
                                                <input type="radio" name="priceGroup" onchange="chagepriceFillter(this)" data-minVal="300" data-maxVal="400" class="custom-control-input" id="fourhundred">
                                            }
                                            <label class="custom-control-label" for="fourhundred">$300 - $400</label>
                                        </div>
                                        <div class="custom-control custom-radio collection-filter-checkbox">
                                            @if (Model.minPriceFillter == 400 && Model.maxPriceFillter == -1)
                                            {
                                                <input type="radio" name="priceGroup" checked="checked" onchange="chagepriceFillter(this)" data-minVal="400" data-maxVal="-1" class="custom-control-input" id="fourhundredabove">
                                            }
                                            else
                                            {
                                                <input type="radio" name="priceGroup" onchange="chagepriceFillter(this)" data-minVal="400" data-maxVal="-1" class="custom-control-input" id="fourhundredabove">
                                            }
                                            <label class="custom-control-label" for="fourhundredabove">
                                                $400
                                                above
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- silde-bar colleps block end here -->
                    </form>
                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <a href="#">
                                        <img src="../assets/images/mega-menu/2.jpg"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>
                                    <div class="top-banner-content small-section">
                                        <h4>fashion</h4>
                                        <h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                        </h5>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                                            since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book. It has survived not only five
                                            centuries, but also the leap into electronic typesetting, remaining
                                            essentially unchanged. It was popularised in the 1960s with the release
                                            of Letraset sheets containing Lorem Ipsum passages, and more recently
                                            with desktop publishing software like Aldus PageMaker including versions
                                            of Lorem Ipsum.
                                        </p>
                                    </div>
                                </div>
                                <div class="collection-product-wrapper">
                                    <div class="product-top-filter">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="filter-main-btn">
                                                    <span class="filter-btn btn btn-theme">
                                                        <i class="fa fa-filter"
                                                           aria-hidden="true"></i> Filter
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="product-filter-content">
                                                    <div class="search-count">
                                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                                    </div>
                                                    <div class="collection-view">
                                                        <ul>
                                                            <li><i class="fa fa-th grid-layout-view"></i></li>
                                                            <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="collection-grid-view">
                                                        <ul>
                                                            <li>
                                                                <img src="../assets/images/icon/2.png" alt=""
                                                                     class="product-2-layout-view">
                                                            </li>
                                                            <li>
                                                                <img src="../assets/images/icon/3.png" alt=""
                                                                     class="product-3-layout-view">
                                                            </li>
                                                            <li>
                                                                <img src="../assets/images/icon/4.png" alt=""
                                                                     class="product-4-layout-view">
                                                            </li>
                                                            <li>
                                                                <img src="../assets/images/icon/6.png" alt=""
                                                                     class="product-6-layout-view">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-page-per-view">
                                                        <select>
                                                            <option value="High to low">
                                                                24 Products Par Page
                                                            </option>
                                                            <option value="Low to High">
                                                                50 Products Par Page
                                                            </option>
                                                            <option value="Low to High">
                                                                100 Products Par Page
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="product-page-filter">
                                                        <select>
                                                            <option value="High to low">Sorting items</option>
                                                            <option value="Low to High">50 Products</option>
                                                            <option value="Low to High">100 Products</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.CatProductList.Count > 0)
                                    {
                                        <div class="product-wrapper-grid">
                                            <div class="row">
                                                @foreach (ProductMstr item in Model.CatProductList)
                                                {
                                                    <div class="col-xl-3 col-md-6 col-grid-box">
                                                        @{Html.RenderPartial("PartialView/_Product", item);}
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <h3 class="text-center mt-5">No Product avalable for This Category</h3>
                                    }


                                    <div class="product-pagination">
                                        <div class="theme-paggination-block">
                                            <div class="row">
                                                <div class="col-xl-6 col-md-6 col-sm-12">
                                                    <nav aria-label="Page navigation">
                                                        <ul class="pagination">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#"
                                                                   aria-label="Previous">
                                                                    <span aria-hidden="true">
                                                                        <i class="fa fa-chevron-left"
                                                                           aria-hidden="true"></i>
                                                                    </span> <span class="sr-only">Previous</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item active">
                                                                <a class="page-link"
                                                                   href="#">1</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="#">2</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="#">3</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#"
                                                                   aria-label="Next">
                                                                    <span aria-hidden="true">
                                                                        <i class="fa fa-chevron-right"
                                                                           aria-hidden="true"></i>
                                                                    </span> <span class="sr-only">Next</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                                <div class="col-xl-6 col-md-6 col-sm-12">
                                                    <div class="product-search-count-bottom">
                                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->

@section Scripts {
    <script type="text/javascript">
        function chageColor(id,el) {

            console.log(id);
            console.log(el);

            $("#colorIdFillter").val(id);
            @*$.ajax({
                type: "POST",
                url: "@Url.Action("RemoveCart")",
                data: { id: id},
                dataType: "text",
                success: function (msg) {
                    if (msg == "Item remove sucessfully") {
                        $tr.remove();
                    }
                    toastr.success(msg);

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });*@
        }
        function chagepriceFillter(el) {

            console.log(el);
            var minval = $(el).attr("data-minVal");
            var maxval = $(el).attr("data-maxVal");
            $("#minPriceFillter").val(minval);
            $("#maxPriceFillter").val(maxval);
            @*$.ajax({
                type: "POST",
                url: "@Url.Action("RemoveCart")",
                data: { id: id},
                dataType: "text",
                success: function (msg) {
                    if (msg == "Item remove sucessfully") {
                        $tr.remove();
                    }
                    toastr.success(msg);

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });*@
        }
    </script>
}