@model ShopCartUser.Models.ViewModels.SearchModel
@using ShopCartUser.Models.ViewModels;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>search</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">search</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="authentication-page">
    <div class="container">
        <section class="search-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <form action="/Search" method="get" class="form-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchText" required name="searchText" aria-label="Amount (to the nearest dollar)"
                                       placeholder="Search Products......">
                                <div class="input-group-append">
                                    <button class="btn btn-solid"><i class="fa fa-search"></i>Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- section end -->
<!-- product section start -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row search-product">
            @if (Model.SearchProducts != null)
            {
                @foreach (ProductMstr item in Model.SearchProducts)
                {

                    <div class="col-xl-2 col-md-4 col-sm-6">
                        @{
                            Html.RenderPartial("PartialView/_Product", item);
                        }
                    </div>
                }
            }
            else
            {
                <div class="col-12"><h3 class="text-center mt-5">@ViewBag.nodata</h3></div>

            }
        </div>
    </div>
</section>
<!-- product section end -->
